{
    "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-runtime",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 7"
                    ]
                }
            }
        ],
        "react"
    ]
}
