{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    [
      "es2016"
    ],
    "react"
  ],
  "env": {
    "karma": {
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
